[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/tomasr/molokai.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
	ignore = untracked
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
	ignore = untracked
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
	ignore = untracked
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = git://github.com/skammer/vim-css-color.git
	ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
	ignore = untracked
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/vim-scripts/AutoClose.git
	ignore = untracked
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
	ignore = untracked
[submodule "bundle/less"]
	path = bundle/less
	url = git://github.com/groenewege/vim-less.git
	ignore = untracked
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/mustashe"]
	path = bundle/mustashe
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/eddie"]
	path = bundle/eddie
	url = git://github.com/mattsacks/vim-eddie.git
